### Implement on simple dataframe

In [1]:
import pandas as pd 

df = pd.DataFrame({"col1": ["Sun", "Sun", "Moon", "Earth", "Moon", "Venus"]})
df

    col1
0    Sun
1    Sun
2   Moon
3  Earth
4   Moon
5  Venus

In [2]:
df_new = pd.get_dummies(df, columns=["col1"], prefix="Planet")
df_new

   Planet_Earth  Planet_Moon  Planet_Sun  Planet_Venus
0         False        False        True         False
1         False        False        True         False
2         False         True       False         False
3          True        False       False         False
4         False         True       False         False
5         False        False       False          True

#### Implement on Compund Dataframe

In [18]:
data = {
    'Employee_ID': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    'Gender': ['Male', 'Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female'],
    'Remark': ['Excellent', 'Good', 'Excellent', 'Average', 'Good', 'Excellent', 'Average', 'Good', 'Excellent', 'Average']
}
print(type(data))

<class 'dict'>

In [4]:
df_geek = pd.DataFrame(data)
df_geek

   Employee_ID  Gender     Remark
0          101    Male  Excellent
1          102  Female       Good
2          103    Male  Excellent
3          104    Male    Average
4          105    Male       Good
5          106  Female  Excellent
6          107    Male    Average
7          108  Female       Good
8          109    Male  Excellent
9          110  Female    Average

In [5]:
print(df_geek['Gender'].unique())
df_geek['Gender'].value_counts()

['Male' 'Female']

Gender
Male      6
Female    4
Name: count, dtype: int64

In [6]:
print(df_geek['Remark'].unique())
df_geek['Remark'].value_counts()

['Excellent' 'Good' 'Average']

Remark
Excellent    4
Good         3
Average      3
Name: count, dtype: int64

In [7]:
one_hot_encoded_bool = pd.get_dummies(df_geek,columns=['Gender','Remark'])

In [8]:
print(one_hot_encoded_bool)

   Employee_ID  Gender_Female  Gender_Male  Remark_Average  Remark_Excellent  \
0          101          False         True           False              True
1          102           True        False           False             False
2          103          False         True           False              True
3          104          False         True            True             False
4          105          False         True           False             False
5          106           True        False           False              True
6          107          False         True            True             False
7          108           True        False           False             False
8          109          False         True           False              True
9          110           True        False            True             False

   Remark_Good
0        False
1         True
2        False
3        False
4         True
5        False
6        False
7         True
8        False
9        False

In [9]:
one_hot_encoded_int = pd.get_dummies(df_geek,columns=['Gender','Remark'],dtype='int64')
one_hot_encoded_int

,Employee_ID,Gender_Female,Gender_Male,Remark_Average,Remark_Excellent,Remark_Good
0,101,0,1,0,1,0
1,102,1,0,0,0,1
2,103,0,1,0,1,0
3,104,0,1,1,0,0
4,105,0,1,0,0,1
5,106,1,0,0,1,0
6,107,0,1,1,0,0
7,108,1,0,0,0,1
8,109,0,1,0,1,0
9,110,1,0,1,0,0

### Apply Pnadas Dummies function to a numpy array

In [20]:
import numpy as np
# Create a 2D NumPy array
data_array = np.array([
    ['Red', 1],
    ['Blue', 2],
    ['Green', 3],
    ['Red', 1],
    ['Green', 3]
])
print(type(data_array))

# *********************************************************************************************


# Convert the array to a pandas DataFrame

""" If i want implement dummies on this data then i have to convert this data into dataframe.
    So, first i have to convert this data into dataframe and then i can implement dummies on it.
"""
df = pd.DataFrame(data_array, columns=['Color', 'Value'])

df

<class 'numpy.ndarray'>

   Color Value
0    Red     1
1   Blue     2
2  Green     3
3    Red     1
4  Green     3

In [21]:
# Use get_dummies on the 'Color' column

# dummies_df = pd.get_dummies(df['Color'], prefix='Color')
dummies_df = pd.get_dummies(df['Color'], prefix='Color',dtype='int64')

dummies_df

   Color_Blue  Color_Green  Color_Red
0           0            0          1
1           1            0          0
2           0            1          0
3           0            0          1
4           0            1          0

In [22]:
# Concatenate the one-hot encoded DataFrame with the original DataFrame
result_df = pd.concat([df, dummies_df], axis=1)

result_df

   Color Value  Color_Blue  Color_Green  Color_Red
0    Red     1           0            0          1
1   Blue     2           1            0          0
2  Green     3           0            1          0
3    Red     1           0            0          1
4  Green     3           0            1          0

In [23]:
# Convert the resulting DataFrame to a NumPy array
result_array = result_df.values

# result_array
print(result_array)

[['Red' '1' 0 0 1]
 ['Blue' '2' 1 0 0]
 ['Green' '3' 0 1 0]
 ['Red' '1' 0 0 1]
 ['Green' '3' 0 1 0]]